<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean class="ru.microbyte.xml.PublisherBeanPostProcessor"/>

    <bean class="ru.microbyte.xml.ProfilerBeanPostProcessor"/>

    <bean class="ru.microbyte.xml.PrinterManager" id="worker">
        <property name="printService" ref="photoPrintService"/>
    </bean>

    <bean class="ru.microbyte.xml.BookPrintService" id="bookPrintService">
        <constructor-arg ref="paperPrinter"/>
    </bean>

    <bean class="ru.microbyte.xml.PhotoPrintService" id="photoPrintService">
        <property name="printer" ref="paperPrinter"/>
    </bean>

    <bean class="ru.microbyte.xml.PaperPrinter" id="paperPrinter" lazy-init="true">
        <property name="year" value="${production.year}"/>
    </bean>


    <bean class="ru.microbyte.xml.PrintingLog" id="printingLog"/>

    <context:property-placeholder location="classpath:config.properties"/>

    <aop:config>
        <aop:aspect ref="printingLog">
            <aop:pointcut id="p2rinting" expression="execution(* *.print(..))"/>
            <aop:before pointcut-ref="p2rinting" method="before"/>
            <aop:after pointcut-ref="p2rinting" method="after"/>
        </aop:aspect>
    </aop:config>
</beans>